@import url("https://fonts.googleapis.com/css2?family=Abel&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}

/* Estilos generales Header */
.header {
  background-image: url(../../assets/backgroundSV-header.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 10px 20px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: minmax 0, 2fr minmax 0, 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo logo" "links redes";
  }
}
@media (max-width: 480px) {
  .header {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-template-rows: repeat(3, minmax 0, auto);
    grid-template-areas: "logo logo" "boton redes" "links links";
  }
}

.stardew-valley-logo-container {
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  .stardew-valley-logo-container {
    grid-area: logo;
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  .stardew-valley-logo-container {
    grid-area: logo;
    padding: 10px 0;
  }
}
.stardew-valley-logo-container img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

/* Redes sociales */
.redes-container {
  justify-content: end;
  padding-right: 1.5rem;
  justify-items: end;
  align-items: start;
}
.redes-container ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}
@media (max-width: 768px) {
  .redes-container ul {
    justify-content: flex-end;
    justify-items: center;
  }
}
.redes-container ul img {
  width: 24px;
  height: auto;
}
@media (max-width: 480px) {
  .redes-container ul img {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .redes-container {
    grid-area: redes;
    margin-top: 10px;
    align-self: center;
    padding-right: 10px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .redes-container {
    grid-area: redes;
    justify-self: end;
    align-self: center;
  }
}

.navbar {
  margin-top: 0px;
}
@media (max-width: 768px) {
  .navbar {
    grid-area: links;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: contents;
  }
}

@media (max-width: 480px) {
  .navbar-toggler, .btn-hamburguesa {
    grid-area: boton;
    justify-self: start;
    align-self: center;
  }
}

.links-header {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .links-header {
    grid-area: links;
    justify-content: center;
    gap: 15px;
    padding: 15px 0 0 0;
  }
}
.links-header a {
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  color: #E0A100;
  font-size: 1.8rem;
  font-weight: 400;
}

body {
  background-image: url(../assets/stardewbackground.png);
  background-size: cover;
  background-position: center; /*Ojo que esto me hace ruido*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer-container {
  background-color: black;
  padding: 4rem;
}

footer p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
}

.div-form h3 {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
}

.button-suscribe {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  background-color: #E0A100;
  border: none;
}
.button-suscribe:hover {
  background-color: #0EA111;
  color: white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.links-footer {
  font-family: "Oxygen", sans-serif;
  font-size: 1.4rem;
}

div.links-footer ul li a:hover {
  color: #E0A100 !important;
  transition: color 0.2s ease-in-out;
}

.links-footer ul li a {
  transition: color 0.2s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
