@import url("https://fonts.googleapis.com/css2?family=Abel&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}

/* Estilos generales Header */
.header {
  background-image: url(../assets/backgroundSV-header.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 10px 20px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: minmax 0, 2fr minmax 0, 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo logo" "links redes";
  }
}
@media (max-width: 480px) {
  .header {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-template-rows: repeat(3, minmax 0, auto);
    grid-template-areas: "logo logo" "boton redes" "links links";
  }
}

.stardew-valley-logo-container {
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  .stardew-valley-logo-container {
    grid-area: logo;
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  .stardew-valley-logo-container {
    grid-area: logo;
    padding: 10px 0;
  }
}
.stardew-valley-logo-container img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

/* Redes sociales */
.redes-container {
  justify-content: end;
  padding-right: 1.5rem;
  justify-items: end;
  align-items: start;
}
.redes-container ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
}
@media (max-width: 768px) {
  .redes-container ul {
    justify-content: flex-end;
    justify-items: center;
  }
}
.redes-container ul img {
  width: 24px;
  height: auto;
}
@media (max-width: 480px) {
  .redes-container ul img {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .redes-container {
    grid-area: redes;
    margin-top: 10px;
    align-self: center;
    padding-right: 10px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .redes-container {
    grid-area: redes;
    justify-self: end;
    align-self: center;
  }
}

.navbar {
  margin-top: 0px;
}
@media (max-width: 768px) {
  .navbar {
    grid-area: links;
  }
}
@media (max-width: 480px) {
  .navbar {
    display: contents;
  }
}

@media (max-width: 480px) {
  .navbar-toggler, .btn-hamburguesa {
    grid-area: boton;
    justify-self: start;
    align-self: center;
  }
}

.links-header {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .links-header {
    grid-area: links;
    justify-content: center;
    gap: 15px;
    padding: 15px 0 0 0;
  }
}
.links-header a {
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  color: #E0A100;
  font-size: 1.8rem;
  font-weight: 400;
}

body {
  background-image: url(../assets/stardewbackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer-container {
  background-color: black;
  padding: 4rem;
}

footer p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
}

.div-form h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
}

.button-suscribe {
  font-family: "Oxygen", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  background-color: #E0A100;
  border: none;
}
.button-suscribe:hover {
  background-color: #0EA111;
  color: white;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.links-footer {
  font-family: "Oxygen", sans-serif;
  font-size: 1.4rem;
}

div.links-footer ul li a:hover {
  color: #E0A100 !important;
  transition: color 0.2s ease-in-out;
}

.links-footer ul li a {
  transition: color 0.2s ease-in-out;
}

/*First section*/
.h1Index {
  font-family: "Abel", sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #E0A100;
}
@media (max-width: 480px) {
  .h1Index {
    font-size: 3.5rem;
  }
}

.trailer {
  width: 100%;
  max-width: 640px;
  height: auto;
}

.firstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 3rem;
  width: 90%;
  margin: 2rem auto 0rem auto;
}
@media (max-width: 480px) {
  .firstSection {
    padding: 2rem;
  }
}
.firstSection h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.1rem;
  padding: 1rem;
  color: #E0A100;
  text-align: center;
}
@media (max-width: 480px) {
  .firstSection h2 {
    font-size: 2.2rem;
  }
}
.firstSection p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.8rem;
  margin: 0 2rem 2rem;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 480px) {
  .firstSection p {
    font-size: 1.6rem;
    margin: 0 1rem 3rem 1rem;
  }
}

/*Second section*/
.secondSection {
  display: grid;
  gap: 3rem;
  background-color: rgba(15, 6, 20, 0.6784313725);
  padding: 2rem 2rem 4rem 2rem;
  width: 90%;
  margin: 0rem auto;
}
.secondSection h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.4rem;
  padding: 1rem;
  color: #E0A100;
  text-align: center;
}
@media (max-width: 480px) {
  .secondSection h2 {
    font-size: 2.2rem;
  }
}
.secondSection p {
  color: #ffffff;
  text-align: center;
}

.firstBlock, .secondBlock, .thirdBlock {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 550px));
  gap: 2rem;
  place-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.firstBlock img, .secondBlock img, .thirdBlock img {
  width: 90%;
  height: auto;
  border-radius: 2rem;
}
.firstBlock p, .secondBlock p, .thirdBlock p {
  font-family: "Oxygen", sans-serif;
  font-size: 1.8rem;
  max-width: 50rem;
}
@media (max-width: 768px) {
  .firstBlock, .secondBlock, .thirdBlock {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .firstBlock img, .secondBlock img, .thirdBlock img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 2rem;
  }
  .firstBlock p, .secondBlock p, .thirdBlock p {
    font-family: "Oxygen", sans-serif;
    font-size: 1.6rem;
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 480px) {
  .firstBlock, .secondBlock, .thirdBlock {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .firstBlock img {
    order: 1;
  }
  .firstBlock p {
    order: 2;
  }
}

@media (max-width: 768px) {
  .secondBlock img {
    order: 3;
  }
  .secondBlock p {
    order: 4;
  }
}

@media (max-width: 768px) {
  .thirdBlock img {
    order: 5;
  }
  .thirdBlock p {
    order: 6;
  }
}

/*Third Section*/
.thirdSection {
  gap: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 2rem 4rem 2rem;
  width: 90%;
  margin: 0rem auto;
  border-radius: 0 0 2rem 2rem;
}
.thirdSection h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 3.4rem;
  padding: 1rem;
  color: #E0A100;
  text-align: center;
}
@media (max-width: 480px) {
  .thirdSection h2 {
    font-size: 2.6rem;
  }
}
.thirdSection div img {
  width: 40%;
  height: auto;
  border-radius: 2rem;
}

.sectionEstaciones {
  padding: 2rem;
  align-items: center;
  background-color: rgba(15, 6, 20, 0.6784313725);
  border-radius: 2rem;
  margin-top: 4rem;
}

.tituloEstaciones {
  font-family: "Abel", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #E0A100;
}

.textoEstaciones {
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.springFarmImage, .summerFarmImage, .autumnFarmImage, .winterFarmImage {
  width: 45%;
  height: auto;
  margin: 1rem;
  border-radius: 2rem;
}

/*Fondo negro con transparencia*/
.divContainerVillagers {
  background-color: rgba(15, 6, 20, 0.6784313725);
  border-radius: 2rem;
  padding: 3rem;
  width: 90%;
  margin: 2rem auto 0rem auto;
}
.divContainerVillagers .carousel-item {
  min-height: 300px;
}

/*Titulo y texto principal*/
.tituloVillagers {
  font-family: "Abel", sans-serif;
  color: #0EA111;
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}

.textoVillagers {
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 2.2rem 1.5rem;
  color: #ffffff;
}

/*Carousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100%);
  opacity: 0.8;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  opacity: 1;
}

/*Subtitulos solteras-solteros-aldeanos- general*/
.tituloSolteras, .tituloSolteros, .tituloAldeanas, .tituloAldeanos, .tituloOtros {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
  color: #E0A100;
  margin: 2.5rem 0 0.9rem;
}

/*Titulos y texto del carousel*/
.nombreSoltera, .nombreSoltero, .nombreAldeana, .nombreAldeano, .nombreOtro {
  font-family: "Montserrat", sans-serif;
  color: #E0A100;
  font-size: 1.9rem;
  text-align: center;
}

.textoSoltera, .textoSoltero, .textoAldeana, .textoAldeano, .textoOtro {
  font-family: "Oxygen", sans-serif;
  font-size: 1.4rem;
  margin: 0 2.2rem;
  color: #ffffff;
  text-align: center;
}

/*Cards*/
.card {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
}
.card img {
  width: auto;
  max-width: 120px;
  height: auto;
  margin: 1.5rem auto 0 auto;
  image-rendering: pixelated;
}

.buzonalcaldiabg {
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  padding: 3rem;
  width: 90%;
  margin: 2rem auto 0rem auto;
}

.h1Contacto {
  font-family: "Abel", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #E0A100;
}

.subtituloBuzonAlcaldia {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: #E0A100;
  margin-top: 1.6rem;
}

.textoBuzonAlcaldia {
  font-family: "Oxygen", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  margin: 1.5rem 0.5;
}

.btn {
  font-family: "Oxygen", sans-serif;
  font-size: 1.1rem;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.btn:hover {
  color: white !important;
  background-color: #0EA111;
  border-color: #074C1A;
}

.form-label {
  font-family: "Oxygen", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
}

.form-control::placeholder {
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
