$colorbasicotexto: #ffffff;
$colorgamauno: #E0A100;
$colorgamados: #0EA111;
$fuentetitulo: 'Abel', sans-serif;
$fuentesubtitulo: "Montserrat", sans-serif;
$fuentetexto: 'Oxygen', sans-serif;
$colorfondo: black;
$bgcolorlight: rgba(0, 0, 0, 0.5);
$bgcolordark: #0f0614ad;
$tamañosubtitulo: 3.4rem;

