body {
    background-image: url(../assets/stardewbackground.png);
    background-size: cover;
    background-position: center; /*Ojo que esto me hace ruido*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}