@use "../utilities/variables";

/* Estilos generales Header */

.header {
    background-image: url(../../assets/backgroundSV-header.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 10px 20px 10px;
    position: relative;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: minmax (0, 2fr) minmax (0, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas: 
            "logo logo"
            "links redes";       
    }

    @media (max-width: 480px) {
        display: grid;
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
        grid-template-rows: repeat(3, minmax (0, auto));
        grid-template-areas: 
            "logo logo"
            "boton redes"
            "links links";
    }
}

.stardew-valley-logo-container {
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;

    @media (max-width: 768px) {
        grid-area: logo;
        padding: 10px 0;
    }

    @media (max-width: 480px) {
        grid-area: logo;
        padding: 10px 0;
    }

    img {
        max-width: 100%;
        height: auto;
        display: inline-block;
    }
}

/* Redes sociales */

.redes-container {
    justify-content: end;
    padding-right: 1.5rem;
    justify-items: end;
    align-items: start;


        ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    

    @media (max-width: 768px) {
        justify-content: flex-end;
        justify-items: center;
        }

        img {
            width: 24px; 
            height: auto;
        }
    @media (max-width: 480px) {
        
        img {
            width: 20px;
            height: auto; 
        }
    }
    }

    @media (max-width: 768px) {
        grid-area: redes;
        margin-top: 10px;
        // justify-self: center;
        align-self: center;
        padding-right: 10px;

    @media (max-width: 480px) {
        grid-area:redes;
        justify-self: end;
        align-self: center;
    }
    }   
}


.navbar {
    margin-top: 0px;

    @media (max-width: 768px) {
        grid-area: links;
    }

    
    @media (max-width: 480px) {
        display: contents;
        }    
}

.navbar-toggler, .btn-hamburguesa { 
    @media (max-width: 480px) {
        grid-area: boton;
        justify-self: start;
        align-self: center;
    }
}

.links-header{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around; 
    
        @media (max-width: 480px) {
        grid-area: links; 
        justify-content: center;
        gap: 15px;
        padding: 15px 0 0 0;
        }

    a {
    text-decoration: none;
    font-family: variables.$fuentetexto;
    color: variables.$colorgamauno;
    font-size: 1.8rem;
    font-weight: 400;
    }
}

// .nav-item {
//         @media (max-width: 480px) {
//             grid-area: links;
//             justify-self: right;
//             align-self: center;
//         }
// }