@use "../utilities/variables";

.sectionEstaciones {
    padding: 2rem;
    align-items: center;
    background-color: variables.$bgcolordark;
    border-radius: 2rem;
    margin-top: 4rem;
    
}

.tituloEstaciones {
    font-family: variables.$fuentetitulo;
    font-weight: 700;
    font-size: 5rem;
    color: variables.$colorgamauno;
    
}

.textoEstaciones {
    font-family: variables.$fuentetexto;
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}

.springFarmImage, .summerFarmImage, .autumnFarmImage, .winterFarmImage {
    width: 45%;
    height: auto;
    margin: 1rem ;
    border-radius: 2rem;
}
