@use "../utilities/variables";

    /*Fondo negro con transparencia*/
    
    .divContainerVillagers {
        background-color: variables.$bgcolordark;
        border-radius: 2rem;
        padding: 3rem;
        width: 90%;
        margin: 2rem auto 0rem auto;

        .carousel-item {
            min-height: 300px;
        }
    }

    /*Titulo y texto principal*/

    .tituloVillagers {
        font-family: variables.$fuentetitulo;
        color: variables.$colorgamados;
        font-size: 3.4rem;
        font-weight: 700;
        text-align: center;
        margin-top: 1rem;
    }

    .textoVillagers {
        font-family: variables.$fuentetexto;
        font-size: 1.6rem;
        text-align: center;
        margin: 0 2.2rem 1.5rem;
        color: variables.$colorbasicotexto;
    }

    /*Carousel*/

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(1) grayscale(100%); 
        opacity: 0.8;                     

        &:hover {
            opacity: 1;                    
        }
    }

    /*Subtitulos solteras-solteros-aldeanos- general*/

    .tituloSolteras, .tituloSolteros, .tituloAldeanas, .tituloAldeanos, .tituloOtros {
        font-family: variables.$fuentesubtitulo;
        font-weight: 700;
        font-size: 2.3rem;
        text-align: center;
        color: variables.$colorgamauno;
        margin: 2.5rem 0 0.9rem;
    }

    /*Titulos y texto del carousel*/

    .nombreSoltera, .nombreSoltero, .nombreAldeana, .nombreAldeano, .nombreOtro {
        font-family: variables.$fuentesubtitulo;
        color: variables.$colorgamauno;
        font-size: 1.9rem;
    }

    .textoSoltera, .textoSoltero, .textoAldeana, .textoAldeano, .textoOtro {
        font-family: variables.$fuentetexto;
        font-size: 1.4rem;
        margin: 0 2.2rem;
        color: variables.$colorbasicotexto;
    }
