@use "../utilities/variables";

.cropsContainer{
    padding: 2rem 1rem;

    .springContainer {
        background-color: variables.$bgcolorlight;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        padding: 2rem;
        .titulo-estacion {
            font-family: variables.$fuentesubtitulo;
            font-size: 2rem;            
            &.primavera { color: #ffb703; }
        }
    }

    .summerContainer {
        background-color: variables.$bgcolordark;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 2rem;
        .titulo-estacion {
            font-family: variables.$fuentesubtitulo;
            font-size: 2rem;
            &.verano { color: #fb8500; }
        }        
    }

    .fallContainer {
        background-color: variables.$bgcolorlight;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 2rem;
        .titulo-estacion {
            font-family: variables.$fuentesubtitulo;
            font-size: 2rem;
            &.otono { color: #ac6a2d; }  
        }
    }

    .winterContainer {
        background-color: variables.$bgcolordark;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 2rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        .titulo-estacion {
            font-family: variables.$fuentesubtitulo;
            font-size: 2rem;
            &.invierno { color: #00b4d8; }
            }
        }

    .cultivos-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 1.3rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem 1.3rem;
        }
    }

    .cultivo-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .img-wrapper {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;
            perspective: 1000px; // Le da profundidad a la animación 3D
        }

        .cultivo-img {
            max-width: 100%;
            height: auto;
            image-rendering: pixelated;
            transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);
            transform-style: preserve-3d;

            @media (hover:hover) {
                &:hover {
                    transform: rotateY(360deg);
                }
            
            &:active, &:focus {
                transform: rotateY(360deg);
            }
            }           
        }

        .cultivo-nombre {
            font-family: variables.$fuentetexto;
            font-size: 1.7rem;
            color: variables.$colorgamauno;
            margin-bottom: 1rem;
        }

        .cultivo-desc {
            font-size: 1.4rem;
            color: variables.$colorbasicotexto;
            margin: 0;
            line-height: 1.2;
        }
    }
}