@use "../utilities/variables";

// FONDO

.buzonalcaldiabg {
    background-color: variables.$bgcolorlight;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 3rem;
    width: 90%;
    margin: 2rem auto 0rem auto;
}

.buzonrobinbg {
    background-color: variables.$bgcolordark;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    width: 90%;
    margin: 0rem auto 0rem auto;

}

// TITULO

.h1Contacto {
    font-family: variables.$fuentetitulo;
    font-size: 2.5rem;
    text-align: center;
    color: variables.$colorgamauno;

}

// BUZON ALCALDÍA - BUZON ROBIN

.subtituloBuzonAlcaldia, .subtituloBuzonRobin {
    font-family: variables.$fuentesubtitulo;
    font-size: 1.8rem;
    text-align: center;
    color: variables.$colorgamauno;
    margin-top: 1.6rem;
}

.subtituloBuzonRobin {
    margin-top: 0rem;
}

.textoBuzonAlcaldia, .textoBuzonRobin {
    font-family: variables.$fuentetexto;
    font-size: 1.4rem;
    color: variables.$colorbasicotexto;
    text-align: center;
    margin: 1.5rem 0.5rem 2.5rem;
}

.btn {
    font-family: variables.$fuentetexto;
    font-size: 1.1rem;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:hover {
        color: white !important;
        background-color: variables.$colorgamados;
        border-color: variables.$colorgamatres;
    }
}

.form-label {
    font-family: variables.$fuentetexto;
    font-size: 1.4rem;
    color: variables.$colorbasicotexto;
}

.form-control {
    &::placeholder {
    font-family: variables.$fuentetexto;
    font-size: 1.2rem;
    }
}

